.Button {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.clear {
    padding: 0;
    border:none;
    background:none;
    outline: none;
}



.small {
    
    width: 60px;
    height: 50px;
}
.big {
    padding: 10px 0px 10px 0px;
    background-color: var(--light-orange);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-l);
    line-height: 1.2;
    min-width: 150px;

}

.big:hover{
    background-color: var(--black-orange);
}

.disabled {
    opacity: 0.5;
}