.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border:none;
    background:none;
    outline: none;
}


.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border:none
}



.small {
    font: var(--font-l);
    width: var(--font-line-l);
    height: var(--font-line-l);
}
.big {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}