.card {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin: 0px 0px 20px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 730px;
}

.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
    gap: 15px;
    border-right: 1px solid rgba(182, 178, 178, 0.5);
    padding: 20px
}



.rightside{
    display: flex;
    padding: 20px
}



.lefttimer {
    display: flex;
    flex-direction: column;
}

.text {
    margin-bottom: 8px;
}


.airplaneIcon {
    position: absolute;
    width: 20px;
    top: 15px
}

.airplanecontainer {
    display: flex;
    padding: 0px 20px 0px 20px;
    position: relative;
    align-items: center;
    width: 200px;
    padding-bottom: 30px;
}

.stops {
    position: absolute;
    top:0;
    left: 50px;
    text-transform: uppercase;
}

.verticalline {
    height: 1px;
    background-color: #d0d5dd;
    min-width: 140px;
}
